.header-aboutus{
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    font-size:30px;
    font-weight: 600 !important;
}

.aboutus-card{
    .css-46bh2p-MuiCardContent-root:last-child {
        padding-bottom: 0px !important;
    }
    .css-46bh2p-MuiCardContent-root {
        padding: 0px !important;
    }
    // .css-pwngrv-MuiPaper-root-MuiCard-root{
    //     background-color: none !important;
    //     box-shadow: none !important;
    //     border-radius: none !important;
    // }
}

.aboutus-text{
    line-height: 32px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    font-style:italic;

}