.footer-head{
// color:#1E68CB;
color:darkgrey;
padding-bottom: 10px;
font-size: 18px;
font-weight: 500;
}

.footer-options{
    padding-bottom:7px;
    cursor:pointer;
}

.footer-options-1{
    padding-bottom: 7px;
}

.footer-copyright{
    text-align:center;
    padding-top: 45px;
}
