.navbar-title{
    text-decoration:none;
    color:white;
    text-transform: none;
    font-size: 18px;

}

.navbar-title1{
    text-decoration:none;
    color:black;
    text-transform: none;
}

.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976d2;
    color: white;
    text-align: center;
    height:70px
 }

